<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>lectableform</title>
  <link rel="stylesheet" type="text/css" href="/styles1.css">

  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/attenstyle.css" rel="stylesheet" />
  <link href="/css/styles1.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid px-4">
      <!-- <center><h1 class="mt-4">STUDENT ATTENDANCE TRACKING</h1></center> -->
    </div>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <br><br><br>
            <a class="nav-link" href="/Index">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            <br>
            <a class="nav-link" href="/Attendance">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Attendance
            </a>
            <br>
            <a class="nav-link" href="/Lectures">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              Lectures
            </a>
            <br>
            <a class="nav-link" href="/attendtable">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              Attendance Report
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main class="main-content">
        <div class="container-fluid">
          <br><br><br>
          <table id="atttable">
            <thead>
              <tr>
                <th> Leacturer Name</th>
                <th>Email</th>
                <th>  Course</th>
                <th>Password</th>
                <th>Action</th>
                
              </tr>
            </thead>
            <tbody>
              <% lecture.forEach(function(lec){ %>
              <tr>
                <td> <%= lec.name %> </td>
                <td><%= lec.email %></td>
                <td><%= lec.course%></td>
                <td><%= lec.password %></td>
                <td class="actions">
                  <a href="/edit/<%= lec.Id %>" class="btn btn-update">Update</a>
                  <a href="/delete/<%= lec.Id %>" class="btn btn-delete">Delete</a>
                  
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="assets/demo/chart-area-demo.js"></script>
  <script src="assets/demo/chart-bar-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
  <script src="js/datatables-simple-demo.js"></script>
  <script src="/script1.js"></script>
  
  

</body>
</html>
